@{
    ViewBag.Title = "DUong Van Hao";
}
<main aria-labelledby="title"></main>
<h2 id="title">@ViewBag.Title.</h2>
<h3>Bai thi giua ky cua DUong Van Hao - Cam ket khong an</h3>

<address>
   K22CNT1 - Mon lap trinh web voi cong nghe ASP.Net
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:haoduong2408@gmail.com">haoduong2408@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:haoduong2408@gmail.com">haoduong2408@gmail.com</a>
</address>