
@{
    ViewBag.Title = "DUong Van Hao";
}

<h2>DUong Van Hao</h2>
<hr />
<h3>Hien thi du lieu tu Action trong Controller</h3>
<h4>Fullname: @ViewBag.fullName</h4>
<h4>Ngay sinh: @ViewData["BIrthday"] </h4>
<h4>Di dong: @TempData["Phone"]</h4>